.form-label {
  display: block;
}

.form-label p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #8c8a8b;
  margin-bottom: 4px;
}

.form-control {
  display: inline-block;
  width: 100%;
  height: 44px;
  border: 1.5px solid #bdbac4;
  border-radius: 22px;
  padding: 10px 12px;

  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 14px;
  outline: none;
}

.form-control:focus {
  border: 1.5px solid #6a983c;
}

.form-error {
  color: red;
}
