.requestProgress {
  width: 100%;
  height: 4px;
  position: relative;
  overflow: hidden;
  background: #6a983c;
}

.bar {
  position: absolute;
  width: calc(100% * 4 / 7);
  height: 100%;
  display: flex;
  animation: move 2s linear infinite;
  background-color: #d6f8b3;
}

@keyframes move {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(calc(7 / 4 * 100%), 0);
  }
}
